setuptools>=65.0.0,<82
torch
torchvision
mmengine>=0.4.0,<1.0.0
mmcv>=2.0.0,<2.1.0
mmdet>=3.0.0,<3.1.0
mmpose>=1.2.0
ultralytics>=8.1.0
numpy>=1.20.0,<2.0.0
opencv-python
pillow
scipy
matplotlib
json_tricks
munkres
xtcocotools>=1.12
rich
aio_pika>=9.4.0
